<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    
    <link rel="stylesheet" href="trangchu.css">
    <script src="https://kit.fontawesome.com/7af42783d2.js" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="asset/style.css">
    <link href="https://fonts.cdnfonts.com/css/segoe-ui-4?styles=18006,18005,18004,18003" rel="stylesheet">
        <style>
            .img-box img{
                max-width: 100%;
            }
            .slider-container .container{
                padding: 0 15px;
                max-width: 1280px;
                margin: 0 auto;
            }
            .card-slider{
                padding: 50px 0;
            }
        </style>
</head>

<body style="font-family: 'Segoe UI', sans-serif;
">
    <div class="container w-[1280px] m-auto">
        <!--header-->
        <div class="header">
            <div class="flex justify-between mt-5 items-center">
                <div class="evo-header-flex-item header-fill">
                    <div class="" onclick="openMenu()">
                        <img class="hover:bg-slate-950 hover:bg-opacity-20 " src="image/Vector.png" alt="">
                    </div>
                </div>
                <div class="evo-header-flex-item header-logo">
                    <a href="/" class="logo-wrapper" title="thethaostore.vn">
                        <img src="https://bizweb.dktcdn.net/100/428/250/themes/822996/assets/logo.png?1681911001649"
                            alt="">
                    </a>
                </div>
                <div class=" flex ">
                    <div class="" onclick="openTimkiem()">
                        <i class="fa-solid fa-magnifying-glass fa-2xl mr-5"></i>
                    </div>

                    <div onclick="opengioHang()">
                        <i class="fa-solid fa-bag-shopping fa-2xl"></i>
                    </div>

                </div>

            </div>
            
            <div class="mt-3">
                
                <div class="parallax bg-[url(https://bizweb.dktcdn.net/100/428/250/themes/822996/assets/cat-banner-1.jpg?1681911001649)] my-10 h-[700px]  float-left bg-cover bg-no-repeat bg-center bg-fixed 
                w-[100vw] relative left-[calc(-50vw+50%)]">
            
            </div>
            
            </div>
        </div>
      
        <!--End header-->
        
        <!--Main-->
        <main class="text-center my-10">
            <div class="">
                <p>.</p>
                <div class="flex justify-between bg-slate-100">

                    <ul class=" bg-gray-100 rounded-xl py-4 ">
                        <li class="font-semibold flex text-stone-500 ">
                            <div class="box">
                            <p class="flex" href="trangchu.html">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M3 7.5L7.5 3m0 0L12 7.5M7.5 3v13.5m13.5 0L16.5 21m0 0L12 16.5m4.5 4.5V7.5" />
                              </svg>
                              <button class="mx-3 text-xl show">Sắp xếp theo</button>
                               
                               <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
                              </svg>
                              <div class=" border chitiet ahihi mr-5 text-xl">
                               <div class="mr-[60px]">
                                <input type="checkbox" value="coding">
                                <label for="">Tên A-Z</label>
                               </div> 
                               <div class="mr-[60px]">
                                <input type="checkbox" value="coding">
                                <label for=""> Tên Z-A</label>
                               </div> 
                               <div class="mr-[42px]">
                                <input type="checkbox" value="coding">
                                <label for="">Hàng mới</label>
                               </div> 
                               <div class="mr-[16px]">
                                <input type="checkbox" value="coding">
                                <label for="">Giá tăng dần</label>
                               </div> 
                               <div class="mr-[14px]">
                                <input type="checkbox" value="coding">
                                <label for="">Giá giảm dần</label>
                               </div> 
                               </div>
                            </p>
                        </div>
                        <div class="box">
                            <p class="flex mx-10" href="thongtintk.html"> <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                              </svg>
                              <button class="mx-3 text-xl show">Thương hiệu</button>
                             
                             <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
                              </svg>
                              <div class=" border chitiet ahihi mr-5 text-xl">
                                <div class="mr-[67px]">
                                 <input type="checkbox" value="coding">
                                 <label for="">lacoste</label>
                                </div> 
                                <div class="mr-[72px]">
                                 <input type="checkbox" value="coding">
                                 <label for="">Uniqlo</label>
                                </div> 
                             
                                </div>
                            </p>
                        </div>
                        <div class="box">
                            <p class="flex" href="donhang.html"> <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                              </svg>
                              <button class="mx-3 text-xl show">Loại sản phẩm</button>
                              
                              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
                              </svg>
                              <div class=" border chitiet ahihi  mr-5 text-xl">
                                <div class="mr-[60px]">
                                 <input type="checkbox" value="coding">
                                 <label for="">Đồ Bộ Thể Thao</label>
                                </div> 
                                
                                </div>
                            </p>
                        </div>
                        </li>
                    </ul> 

                </div>  
            </div>

            <section class="slider-container">
        <div class="container">
            <div class="swiper card-slider">
                <div class="swiper-wrapper grid grid-cols-4 ">
                    <div class="swiper-slide">
                        <div class="img-box ">
                            <img src="https://bizweb.dktcdn.net/thumb/large/100/428/250/products/8147025c-7c57-4bb9-be8d-006fe3d63a01-jpeg.jpg?v=1686125334000" alt="">
                            <p class="">560.000đ</p>
                            <a class="hover:text-red-500 " href="">Bộ Quần Áo Thể Thao Nam Uniqlo Tennis Kei
                            Nishikori</a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="img-box">
                            <img src="https://bizweb.dktcdn.net/thumb/large/100/428/250/products/7194b4b0-c337-4263-9a68-f94f670bbf32-jpeg.jpg?v=1686139624000" alt="">
                            <p class="">560.000đ</p>
                            <a class="hover:text-red-500 " href="">Bộ Quần Áo Thể Thao Nam Uniqlo Tennis Kei
                            Nishikori</a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="img-box">
                            <img src="https://bizweb.dktcdn.net/thumb/large/100/428/250/products/vn-11134201-23020-hisuxzlb2lnvac-1676561077053.jpg?v=1677725815020" alt="">
                            <p class="">560.000đ</p>
                            <a class="hover:text-red-500 " href="">Bộ Quần Áo Thể Thao Nam Uniqlo Tennis Kei
                            Nishikori</a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="img-box">
                            <img src="https://bizweb.dktcdn.net/thumb/large/100/428/250/products/0ede8ea8-8ff1-4446-b236-7bad85524e80-jpeg.jpg?v=1686152614000" alt="">
                            <p class="">560.000đ</p>
                            <a class="hover:text-red-500 " href="">Bộ Quần Áo Thể Thao Nam Uniqlo Tennis Kei
                            Nishikori</a>
                        </div>
                    </div>
                    <div class="swiper-slide mt-5">
                        <div class="img-box">
                            <img src="https://bizweb.dktcdn.net/thumb/large/100/428/250/products/vn-11134201-23020-hisuxzlb2lnvac-1676561077053.jpg?v=1677725815020" alt="">
                            <p class="">560.000đ</p>
                            <a class="hover:text-red-500 " href="">Bộ Quần Áo Thể Thao Nam Uniqlo Tennis Kei
                            Nishikori</a>
                        </div>
                    </div>
                    <div class="swiper-slide mt-5">
                        <div class="img-box ">
                            <img src="https://bizweb.dktcdn.net/thumb/large/100/428/250/products/vn-11134201-23020-hisuxzlb2lnvac-1676561077053.jpg?v=1677725815020" alt="">
                            <p class="">560.000đ</p>
                            <a class="hover:text-red-500 " href="">Bộ Quần Áo Thể Thao Nam Uniqlo Tennis Kei
                            Nishikori</a>
                        </div>
                    </div>
                    <div class="swiper-slide mt-5">
                        <div class="img-box ">
                            <img src="https://bizweb.dktcdn.net/thumb/large/100/428/250/products/vn-11134201-23020-hisuxzlb2lnvac-1676561077053.jpg?v=1677725815020" alt="">
                            <p class="">560.000đ</p>
                            <a class="hover:text-red-500 " href="">Bộ Quần Áo Thể Thao Nam Uniqlo Tennis Kei
                            Nishikori</a>
                        </div>
                    </div>
                    <div class="swiper-slide mt-5">
                        <div class="img-box ">
                            <img src="https://bizweb.dktcdn.net/thumb/large/100/428/250/products/vn-11134201-23020-hisuxzlb2lnvac-1676561077053.jpg?v=1677725815020" alt="">
                            <p class="">560.000đ</p>
                            <a class="hover:text-red-500 " href="">Bộ Quần Áo Thể Thao Nam Uniqlo Tennis Kei
                            Nishikori</a>
                        </div>
                    </div>
                    <div class="swiper-slide mt-5">
                        <div class="img-box ">
                            <img src="https://bizweb.dktcdn.net/thumb/large/100/428/250/products/vn-11134201-23020-hisuxzlb2lnvac-1676561077053.jpg?v=1677725815020" alt="">
                            <p class="">560.000đ</p>
                            <a class="hover:text-red-500 " href="">Bộ Quần Áo Thể Thao Nam Uniqlo Tennis Kei
                            Nishikori</a>
                        </div>
                    </div>
                    <div class="swiper-slide mt-5">
                        <div class="img-box ">
                            <img src="https://bizweb.dktcdn.net/thumb/large/100/428/250/products/vn-11134201-23020-hisuxzlb2lnvac-1676561077053.jpg?v=1677725815020" alt="">
                            <p class="">560.000đ</p>
                            <a class="hover:text-red-500 " href="">Bộ Quần Áo Thể Thao Nam Uniqlo Tennis Kei
                            Nishikori</a>
                        </div>
                    </div>
                    <div class="swiper-slide mt-5">
                        <div class="img-box ">
                            <img src="https://bizweb.dktcdn.net/thumb/large/100/428/250/products/vn-11134201-23020-hisuxzlb2lnvac-1676561077053.jpg?v=1677725815020" alt="">
                            <p class="">560.000đ</p>
                            <a class="hover:text-red-500 " href="">Bộ Quần Áo Thể Thao Nam Uniqlo Tennis Kei
                            Nishikori</a>
                        </div>
                    </div>
                    <div class="swiper-slide mt-5">
                        <div class="img-box ">
                            <img src="https://bizweb.dktcdn.net/thumb/large/100/428/250/products/vn-11134201-23020-hisuxzlb2lnvac-1676561077053.jpg?v=1677725815020" alt="">
                            <p class="">560.000đ</p>
                            <a class="hover:text-red-500 " href="">Bộ Quần Áo Thể Thao Nam Uniqlo Tennis Kei
                            Nishikori</a>
                        </div>
                    </div>
                </div>
             
            </div>
           
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script>
         var swiper = new Swiper(".card-slider", {
            
      slidesPerView: 4,
      speed:1000,
      spaceBetween: 30,
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });
    </script>
            <!-- END TOP SẢN PHẨM CHẠY-->
            

            <!--Thương hiệu nổi bật-->
            <div class="text-center">
                <p class="text-2xl underline  mt-10"><b>THƯƠNG HIỆU NỔI BẬT</p>
            </div>
            <div class="flex   justify-around">
                <div><img class="w-[100px] h-[100px]"
                        src="https://bizweb.dktcdn.net/100/428/250/themes/822996/assets/partner_1.jpg?1681911001649"
                        alt=""></div>
                <div><img class="w-[100px] h-[100px]"
                        src="https://bizweb.dktcdn.net/100/428/250/themes/822996/assets/partner_2.jpg?1681911001649"
                        alt=""></div>
                <div><img class="w-[100px] h-[100px]"
                        src="https://bizweb.dktcdn.net/100/428/250/themes/822996/assets/partner_4.jpg?1681911001649"
                        alt=""></div>
                <div><img class="w-[100px] h-[100px]"
                        src="https://bizweb.dktcdn.net/100/428/250/themes/822996/assets/partner_5.jpg?1681911001649"
                        alt=""></div>
                <div><img class="w-[100px] h-[100px]"
                        src="https://bizweb.dktcdn.net/100/428/250/themes/822996/assets/partner_7.jpg?1681911001649"
                        alt=""></div>
            </div>
        </main>
        <!--End Main-->

        <!--footer-->
        <footer>
            <div class=" grid grid-cols-4 gap-5 bg-slate-100 px-10 leading-[50px]">
                <div class="">
                    <img class="w-[200px]"
                        src="https://bizweb.dktcdn.net/100/428/250/themes/822996/assets/footer-logo.png?1681911001649"
                        alt="">
                    <p>Địa chỉ: 20 Nghĩa Đô - Q.Cầu Giấy - TP.Hà Nội</p>
                    <p>Email:</p>
                    <p>Điện thoại: 0835 588 555</p>
                    <p>Zalo: 0835 588 555</p>
                </div>
                <div>
                    <p>Sản phẩm</p>
                    <p>Trang chủ</p>
                    <p>Giới thiệu</p>
                    <p>Sản phẩm</p>
                    <p>Liên hệ</p>
                    <p>Cộng Tác Viên</p>
                </div>
                <div>
                    <p>Hỗ trợ khách hàng</p>
                    <p>Chính sách thanh toán</p>
                    <p>Chính sách vận chuyển </p>
                    <p>Chính sách bảo mật</p>
                </div>
                <div>
                    <p>Fanpage</p>
                    <img src="https://scontent.fhan17-1.fna.fbcdn.net/v/t39.30808-6/340968158_764848581834419_5670796682879734898_n.png?stp=dst-png_s403x403&_nc_cat=100&ccb=1-7&_nc_sid=dd9801&_nc_ohc=DoB29IUrJUgAX8Nk0DL&_nc_ht=scontent.fhan17-1.fna&edm=ADwmN6EEAAAA&oh=00_AfA8KokMm8bRUXMzcd0f9F5ZsMbnYnNZKHaaQwo7uScoYA&oe=64A0917B"
                        alt="">
                </div>
            </div>
            <div class=" bg-red-800 my-10 w-full h-[100px] flex justify-between items-center  ">
                <div>
                    <p class="text-white pl-[300px] text-base">Nhận thông tin khuyến mãi mới nhất từ Thể Thao Store</p>
                </div>
                <div class="pr-[100px]">
                    <form class="border rounded-md" action="">
                        <input class="text-xl pl-5 h-[50px] max-w-[300px]" type="text" placeholder="Địa Chỉ Email">
                        <button class="text-white ">Đăng ký</button>
                    </form>
                </div>
            </div>


        </footer>
        <div class="fixed z-index top-0 left-0 bottom-0 right-0 justify-end hidden gio-hang">
            <div class="flex justify-between w-1/4 h-full px-4 uppercase pt-5 bg-slate-100 ">
                <ul class="text-black h-[50px]">
                    <p class="uppercase text-2xl">Giỏ Hàng</p>
                    <!-- <div class="mt-10 gap-0">
                    
                        <input class="border h-[60px] w-[400px] pl-5 text-xl" type="text" name="" id="">
                        <button class="bg-red-700 hover:bg-red-600 h-[60px] w-[80px]" type="submit "><i class="fa-solid fa-magnifying-glass fa-2xl " ></i></button>
                </div> -->
                </ul>
                <div class="">
                    <button onclick="closegioHang() ">
                        <i class="fa-solid fa-xmark fa-2xl" style="color: #27282b;"></i>
                    </button>
                </div>
            </div>
        </div>
        </script>
        <div class="fixed top-0 left-0 bottom-0 right-0 justify-end hidden tim-kiem">
            <div class="flex justify-between w-1/4 h-full px-4 uppercase pt-5 bg-slate-100 ">
                <ul class="text-black h-[50px]">
                    <p class="uppercase text-2xl">Tìm kiếm sản phẩm</p>
                    <div class="mt-10 gap-0">

                        <input class="border h-[60px] w-[300px] pl-5 text-xl" type="text" name="" id="">
                        <button class="bg-red-700 hover:bg-red-600 h-[60px] w-[80px]" type="submit "><i
                                class="fa-solid fa-magnifying-glass fa-2xl "></i></button>
                    </div>
                </ul>
                <div class="">
                    <button onclick="closeTimkiem() ">
                        <i class="fa-solid fa-xmark fa-2xl" style="color: #27282b;"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="fixed z-index top-0 left-0 bottom-0 right-0 justify-start hidden nav-bar">
            <div class="flex justify-between w-1/4 h-full px-4 uppercase pt-5 bg-black ">
                <ul class="text-white h-[50px]">
                    <li
                        class="cursor-pointer h-[60px] text-2xl  relative after:absolute after:bottom-0 after:left-0
                after:bg-white after:h-0.5 after:w-0 hover:after:w-full after:transition-all after:ease-in-out after:duration-300">
                        <a class="text-red-800 border-b-1" href="trangchu.html">TRANG CHỦ</a>
                    </li>
                    <li
                        class="cursor-pointer h-[60px] text-2xl  relative after:absolute after:bottom-0 after:left-0
                after:bg-white after:h-0.5 after:w-0 hover:after:w-full after:transition-all after:ease-in-out after:duration-300">
                        <a class="hover:text-red-800" href="">GIỚI THIỆU</a>
                    </li>
                    <li
                        class="cursor-pointer h-[60px] text-2xl  relative after:absolute after:bottom-0 after:left-0
                after:bg-white after:h-0.5 after:w-0 hover:after:w-full after:transition-all after:ease-in-out after:duration-300">
                        <a class="hover:text-red-800" href="">SẢN PHẨM</a>
                    </li>
                    <li
                        class="cursor-pointer h-[60px] text-2xl  relative after:absolute after:bottom-0 after:left-0
                after:bg-white after:h-0.5 after:w-0 hover:after:w-full after:transition-all after:ease-in-out after:duration-300">
                        <a class="hover:text-red-800" href="">LIÊN HỆ</a>
                    </li>
                    <li
                        class="cursor-pointer h-[60px] text-2xl  relative after:absolute after:bottom-0 after:left-0
                after:bg-white after:h-0.5 after:w-0 hover:after:w-full after:transition-all after:ease-in-out after:duration-300">
                        <a class="hover:text-red-800" href="">CỘNG TÁC VIÊN</a>
                    </li>
                    <li
                        class="cursor-pointer h-[60px] text-2xl  relative after:absolute after:bottom-0 after:left-0
                after:bg-white after:h-0.5 after:w-0 hover:after:w-full after:transition-all after:ease-in-out after:duration-300">
                        <a class="hover:text-red-800" href="dangnhap.html">ĐĂNG NHẬP/ĐĂNG KÝ</a>
                    </li>
                </ul>
                <div class="">
                    <button onclick="closeMenu()">
                        <i class="fa-solid fa-xmark fa-2xl " style="color: #ecf3fd;"></i>
                    </button>
                </div>
            </div>
        </div>




        <!--End footer-->
    </div>

    <script>
        const menuhidden = document.querySelector('.gio-hang');
        const menuhidden2 = document.querySelector('.tim-kiem');
        const menuhidden1 = document.querySelector('.nav-bar');

        const opengioHang = () => {
            menuhidden.classList.remove('hidden');
            menuhidden.classList.add('flex');
        };
        const closegioHang = () => {
            menuhidden.classList.remove('flex');
            menuhidden.classList.add('hidden');
        };

        const openMenu = () => {
            menuhidden1.classList.remove('hidden');
            menuhidden1.classList.add('flex');
        };
        const closeMenu = () => {
            menuhidden1.classList.remove('flex');
            menuhidden1.classList.add('hidden');
        };

        const openTimkiem = () => {
            menuhidden2.classList.remove('hidden');
            menuhidden2.classList.add('flex');
        };
        const closeTimkiem = () => {
            menuhidden2.classList.remove('flex');
            menuhidden2.classList.add('hidden');
        };
        //xử lý bộ lọc
        let button = document.querySelectorAll('.show');
        button.forEach(button =>{
            button.addEventListener('click',function(){
            let chitiets = document.querySelectorAll('.chitiet');
            console.log(chitiets);
            chitiets.forEach(chitiet => {
                chitiet.classList.add('ahihi');
            })
            let parent = button.closest('.box');
            console.log(parent);
            let chitiet = parent.querySelector('.chitiet');
            console.log(chitiet);
            chitiet.classList.remove('ahihi');
            //
            
        })
        })
      
    </script>
</body>

</html>