<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.2/dist/css/splide.min.css">
    <link rel="stylesheet" href="asset/style.css">
    <script src="https://kit.fontawesome.com/7af42783d2.js" crossorigin="anonymous"></script>

    <<<<<<< HEAD <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@500;700&family=Inter&family=Kanit:wght@400;700&family=Play:wght@700&family=Roboto+Mono&display=swap"
            rel="stylesheet">
        <style>
            /* Add CSS transitions for smoother effect */
            #searchInput {
                transition: opacity 0.3s ease-in-out;
            }
        </style>
        =======


        >>>>>>> c1d99ec0b9b51f118eaa6057a92bd404efb782cd
</head>

<body style="font-family: 'Segoe UI', sans-serif;
">
    <div class="container w-[1280px] m-auto">
        <!--header-->
        <div class="header">
            <div class="flex justify-between mt-5 items-center">
                <div class="evo-header-flex-item header-fill">
                    <div class="" onclick="openMenu()">
                        <img class="hover:bg-slate-950 hover:bg-opacity-20 " src="image/Vector.png" alt="">
                    </div>
                </div>
                <div class="evo-header-flex-item header-logo">
                    <a href="/" class="logo-wrapper" title="thethaostore.vn">
                        <img src="https://bizweb.dktcdn.net/100/428/250/themes/822996/assets/logo.png?1681911001649"
                            alt="">
                    </a>
                </div>
                <div class=" flex ">
                    <div class="" onclick="openTimkiem()">
                        <i class="fa-solid fa-magnifying-glass fa-2xl mr-5"></i>
                    </div>

                    <div onclick="opengioHang()">
                        <i class="fa-solid fa-bag-shopping fa-2xl"></i>
                    </div>

                </div>

            </div>
            <div class="mt-3">
                <div class="parallax bg-[url(https://bizweb.dktcdn.net/100/428/250/themes/822996/assets/slider_2.jpg?1681911001649)] my-10 h-[700px]  float-left bg-cover bg-no-repeat bg-center bg-fixed 
                w-[100vw] relative left-[calc(-50vw+50%)]"></div>

            </div>
        </div>
        <!--End header-->

        <!--Main-->
        <main class="text-center my-10">
            <div class="">
                <p>.</p>
                <div class="flex justify-between bg-slate-100">

                    <div class="flex items-center ">
                        <div>
                            <i class="fa-solid fa-phone fa-2xl"></i>
                        </div>
                        <div class="pl-5">
                            <h5>Hotline Hỗ Trợ</h5>
                            <span class="sub-text">083.5588.555</span>
                        </div>
                    </div>

                    <div class="flex items-center ">
                        <div>
                            <i class="fa-solid fa-car fa-2xl"></i>
                        </div>
                        <div class="pl-5">
                            <h5>Miễn phí vận chuyển</h5>
                            <span class="sub-text">Cho đơn hàng từ 500K</span>
                        </div>
                    </div>

                    <div class="flex items-center ">
                        <div>
                            <i class="fa-solid fa-money-bill fa-2xl"></i>
                        </div>
                        <div class="pl-5">
                            <h5>Đổi hàng dễ dàng</h5>
                            <span class="sub-text">Kiểm tra trước khi thanh toán</span>
                        </div>
                    </div>

                    <div class="flex items-center ">
                        <div>
                            <i class="fa-solid fa-building-columns fa-2xl"></i>
                        </div>
                        <div class="pl-5">
                            <h5>Thanh toán bảo mật</h5>
                            <span class="sub-text">Chúng tôi chấp nhận các loại thẻ</span>
                        </div>
                    </div>

                </div>
                <!--DANH MỤC NỔI BẬT-->
                <p class=" mt-5 text-2xl underline capitalize "><b>DANH MỤC NỔI BẬT</b></p>
                <p class="mt-10">Chúng tôi luôn cung cấp những mẫu thiết kế Phong cách - Thanh lịch - Hiện đại được cập
                    nhật liên tục.</p>
            </div>

            <div class="mt-10 flex gap-4">
                <div class="">


                    <div
                        style="position: relative; background: url(https://bizweb.dktcdn.net/100/428/250/themes/822996/assets/feature_banner_image_1.jpg?1681911001649); width: 620px; height: 480px;">
                        <div
                            class="w-full h-full  hover:opacity-80 hover:translate-all  hover:ease-in-out hover:duration-1000 relative group">
                            <a class="absolute bg-red-600 text-black bottom-4 ml-5 pt-3 w-3/12 h-[50px] items-center hidden group-hover:block  hover:ease-in-out hover:duration-1000 uppercase tracking-wider cursor-pointer "
                                href="donam.html">
                                Mua hàng
                            </a>
                        </div>

                    </div>
                </div>
                <div>
                    <div
                        style="position: relative; background: url(https://bizweb.dktcdn.net/100/428/250/themes/822996/assets/feature_banner_image_2.jpg?1681911001649); width: 620px; height: 480px;">
                        <div
                            class="w-full h-full  hover:opacity-80 hover:translate-all  hover:ease-in-out hover:duration-1000 relative group">
                            <a class="absolute bg-red-600 text-black bottom-4 ml-5 pt-3 w-3/12 h-[50px] items-center hidden group-hover:block  hover:ease-in-out hover:duration-1000 uppercase tracking-wider cursor-pointer "
                                href="donu.html">
                                Mua hàng
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!--HÀNG MỚI VỀ-->
            <div class="">
                <p class="text-2xl underline capitalize mt-10"><b>HÀNG MỚI VỀ</b></p>
                <p class="mt-10">Danh sách sản phẩm thời trang mới nhất được cập nhật trong bộ sưu tập thời trang Thể
                    Thao Store</p>
            </div>
            <!--silde show-->
            <div class="container mx-auto">
                <div class="splide">
                    <div class="splide__arrows">
                        <button class="bg-gray-900 shadow splide__arrow splide__arrow--prev">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="w-6 h-6 text-white">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75" />
                            </svg>
                        </button>
                        <button class="bg-gray-900 shadow splide__arrow splide__arrow--next">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="w-6 h-6 text-white">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75" />
                            </svg>
                        </button>
                    </div>
                    <div class="splide__track  grid grid-cols-4">
                        <div class="splide__list gap-x-2">
                            <div class="w-full  p-4 shadow splide__slide lg:max-w-lg">
                                <div class="space-y-2">
                                    <img src="https://bizweb.dktcdn.net/thumb/large/100/428/250/products/c6016700-2a47-48f2-8cf2-506a7c42fab3-jpeg.jpg?v=1686122778000"
                                        alt="">
                                    <p>560.000đ</p>
                                    <a class="hover:text-red-500" href="">Bộ Quần Áo Thể Thao Nam Uniqlo Tennis Kei
                                        Nishikori</a>
                                </div>
                            </div>

                            <div class="w-full p-4 shadow splide__slide lg:max-w-lg">
                                <div class="space-y-2">
                                    <img src="https://bizweb.dktcdn.net/thumb/large/100/428/250/products/c1ee41bd-f783-4d1d-999e-a1a3232828fc-jpeg.jpg?v=1686123412453"
                                        alt="">

                                    <p>560.000đ</p>
                                    <a class="hover:text-red-500" href="">Bộ Quần Áo Thể Thao Nam Uniqlo Tennis Kei
                                        Nishikori</a>
                                </div>
                            </div>

                            <div class="w-full p-4 shadow splide__slide lg:max-w-lg">
                                <div class="space-y-2">
                                    <img src="https://bizweb.dktcdn.net/thumb/large/100/428/250/products/2b78154d04bfcffa2b61ce04c24855b1-1676986570212.jpg?v=1676986575410"
                                        alt="">

                                    <p>560.000đ</p>
                                    <a class="hover:text-red-500" href="">Bộ Quần Áo Thể Thao Nam Uniqlo Tennis Kei
                                        Nishikori</a>
                                </div>
                            </div>

                            <div class="w-full p-4 shadow splide__slide lg:max-w-lg">
                                <div class="space-y-2">
                                    <img src="https://bizweb.dktcdn.net/thumb/large/100/428/250/products/912d4386f116ba23fc5ae5ee93488003-1666064193355.jpg?v=1673322816243"
                                        alt="">

                                    <p>560.000đ</p>
                                    <a class="hover:text-red-500" href="">Bộ Quần Áo Thể Thao Nam Uniqlo Tennis Kei
                                        Nishikori</a>
                                </div>
                            </div>

                            <div class="w-full p-4 shadow splide__slide lg:max-w-lg">
                                <div class="space-y-2">
                                    <img src="https://bizweb.dktcdn.net/thumb/large/100/428/250/products/sg-11134201-23010-5gktq2p70xlv27-1678845268202.jpg?v=1678845272907"
                                        alt="">
                                    <p>560.000đ</p>
                                    <a class="hover:text-red-500" href="">Bộ Quần Áo Thể Thao Nam Uniqlo Tennis Kei
                                        Nishikori</a>
                                </div>
                            </div>
                            <div class="w-full p-4 shadow splide__slide lg:max-w-lg">
                                <div class="space-y-2">
                                    <img src="https://bizweb.dktcdn.net/thumb/large/100/428/250/products/sg-11134201-23010-wwmzgn1raylvd3-1678845287927.jpg?v=1678845291760"
                                        alt="">
                                    <p>560.000đ</p>
                                    <a class="hover:text-red-500" href="">Bộ Quần Áo Thể Thao Nam Uniqlo Tennis Kei
                                        Nishikori</a>
                                </div>
                            </div>
                            <div class="w-full p-4 shadow splide__slide lg:max-w-lg">
                                <div class="space-y-2">
                                    <img src="https://bizweb.dktcdn.net/thumb/large/100/428/250/products/sg-11134201-22120-n1b4q11agukva2-1678845331782.jpg?v=1678845346113"
                                        alt="">
                                    <p>560.000đ</p>
                                    <a class="hover:text-red-500" href="">Bộ Quần Áo Thể Thao Nam Uniqlo Tennis Kei
                                        Nishikori</a>
                                </div>
                            </div>
                            <div class="w-full p-4 shadow splide__slide lg:max-w-lg">
                                <div class="space-y-2">
                                    <img src="https://bizweb.dktcdn.net/thumb/large/100/428/250/products/sg-11134201-22120-x41nznl5gvkve4-1678845629584.jpg?v=1678845633000"
                                        alt="">
                                    <p>560.000đ</p>
                                    <a class="hover:text-red-500" href="">Bộ Quần Áo Thể Thao Nam Uniqlo Tennis Kei
                                        Nishikori</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!--End silde show-->
            <!-- Xem Thêm Sản phẩm-->
            <div class="my-10 m-auto">
                <a href="">
                    <button
                        class="bg-red-800 text-white hover:bg-white hover:text-red-800 hover:border hover:border-red-800 hover:translate-all  hover:ease-in-out hover:duration-700 w-[250px] h-[50px] ">
                        XEM THÊM 91 SẢN PHẨM</button>
                </a>

            </div>
    </div>
    <section class="container flex justify-center gap-4 my-6 mx-auto">
        <div >
            <div class="w-[550px] h-[326px]">
                <a href="" class="">
                  <img class="w-[450px] mx-5 transform hover:scale-105 transition duration-300" src="./image/bannner1.jpg.webp" alt="">
                </a>
              </div>
            <div class="w-[550px] h-[224px]">
                <h3 class="font-[700] text-[25px] leading-[35px] hover:text-red-800 py-3" >Thời trang mang phong cách thể thao</h3>
                <p class="text-[14px] leading-[24px] mb-5 pr-5">Ngày nay thời trang thể thao được phát triển rộng rãi với những thiết kế mang tính xu hướng được mọi
                    người ưa chuộng bởi sự đơn giản - thoải mái - linh hoạt của nó không chỉ riêng cho việc tập luyện
                    thể thao mà còn là thời trang mặc hàng ngày. Việc lựa chọn những bộ đồ thao không chỉ giúp tôn vóc
                    dáng cơ thể bạn mà còn tạo sự thu hút với mọi người xung quanh !</p>
                <a class="py-3 px-6 text-white text-[13px] bg-red-700 " href="#">XEM CHI TIẾT </a>
            </div>

        </div>
        <div>
            <div class="w-[550px] h-[224px] py-2">
                <h3 class="font-[700] text-[25px] leading-[35px] hover:text-red-800 py-3">Trang phục cho tập luyện</h3>
                <p class="text-[14px] leading-[24px] mb-5">Việc tập luyện ngày này đã trở thành một điều thiết yếu mang lại nhiều lợi ích cho sức khoẻ cũng như
                    trong cuộc sống ở các bộ môn thể thao như chạy bộ, tập gym, hay nhưng môn thể thao ngoài trời...
                    Cùng với nó là sự phát triển của ngành thời trang thể thao bùng nổ với những thiết kế nổi bật phù
                    hợp cho các bộ môn tập luyện và mang phong cách hiện đại.</p>
                <a class="py-3 px-6 text-white text-[13px] bg-red-700" href="#">Xem chi tiết</a>
            </div>
            <div class="w-[550px] h-[326px] ">
                <a href="#">
                    <img class="mt-[42px] mt-[43px]" src="./image/evo_collection_feature_img_2.png.jpg" alt="">
                </a>
            </div>
        </div>
    </section>

    <!-- END HÀNG MỚI VỀ-->


    <!--TOP SẢN PHẨM CHẠY-->
    <div class=" text-center mt-5">
        <p class="text-2xl underline capitalize mt-10"><b>TOP SẢN PHẨM CHẠY</b></p>
    </div>
    <section class="slider-container">
        <div class="container">
            <div class="swiper card-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="img-box ">
                            <img src="https://bizweb.dktcdn.net/thumb/large/100/428/250/products/8147025c-7c57-4bb9-be8d-006fe3d63a01-jpeg.jpg?v=1686125334000"
                                alt="">
                            <p class="">560.000đ</p>
                            <a class="hover:text-red-500 " href="">Bộ Quần Áo Thể Thao Nam Uniqlo Tennis Kei
                                Nishikori</a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="img-box">
                            <img src="https://bizweb.dktcdn.net/thumb/large/100/428/250/products/7194b4b0-c337-4263-9a68-f94f670bbf32-jpeg.jpg?v=1686139624000"
                                alt="">
                            <p class="">560.000đ</p>
                            <a class="hover:text-red-500 " href="">Bộ Quần Áo Thể Thao Nam Uniqlo Tennis Kei
                                Nishikori</a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="img-box">
                            <img src="https://bizweb.dktcdn.net/thumb/large/100/428/250/products/vn-11134201-23020-hisuxzlb2lnvac-1676561077053.jpg?v=1677725815020"
                                alt="">
                            <p class="">560.000đ</p>
                            <a class="hover:text-red-500 " href="">Bộ Quần Áo Thể Thao Nam Uniqlo Tennis Kei
                                Nishikori</a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="img-box">
                            <img src="https://bizweb.dktcdn.net/thumb/large/100/428/250/products/0ede8ea8-8ff1-4446-b236-7bad85524e80-jpeg.jpg?v=1686152614000"
                                alt="">
                            <p class="">560.000đ</p>
                            <a class="hover:text-red-500 " href="">Bộ Quần Áo Thể Thao Nam Uniqlo Tennis Kei
                                Nishikori</a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="img-box">
                            <img src="https://bizweb.dktcdn.net/thumb/large/100/428/250/products/vn-11134201-23020-hisuxzlb2lnvac-1676561077053.jpg?v=1677725815020"
                                alt="">
                            <p class="">560.000đ</p>
                            <a class="hover:text-red-500 " href="">Bộ Quần Áo Thể Thao Nam Uniqlo Tennis Kei
                                Nishikori</a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="img-box ">
                            <img src="https://bizweb.dktcdn.net/thumb/large/100/428/250/products/vn-11134201-23020-hisuxzlb2lnvac-1676561077053.jpg?v=1677725815020"
                                alt="">
                            <p class="">560.000đ</p>
                            <a class="hover:text-red-500 " href="">Bộ Quần Áo Thể Thao Nam Uniqlo Tennis Kei
                                Nishikori</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
            </div>
            <div class="my-10 ml-[500px]">
                <a href="">
                    <button
                        class="bg-red-800 text-white hover:bg-white hover:text-red-800 hover:border hover:border-red-800 hover:translate-all  hover:ease-in-out hover:duration-700 w-[250px] h-[50px] ">
                        XEM THÊM 30 SẢN PHẨM</button>
                </a>
            </div>
        </div>
    </section>

    <!-- END TOP SẢN PHẨM CHẠY-->


    <!--Thương hiệu nổi bật-->
    <div class="text-center">
        <p class="text-2xl underline  mt-10"><b>THƯƠNG HIỆU NỔI BẬT</p>
    </div>
    <div class="flex   justify-around">
        <div><img class="w-[100px] h-[100px]"
                src="https://bizweb.dktcdn.net/100/428/250/themes/822996/assets/partner_1.jpg?1681911001649" alt="">
        </div>
        <div><img class="w-[100px] h-[100px]"
                src="https://bizweb.dktcdn.net/100/428/250/themes/822996/assets/partner_2.jpg?1681911001649" alt="">
        </div>
        <div><img class="w-[100px] h-[100px]"
                src="https://bizweb.dktcdn.net/100/428/250/themes/822996/assets/partner_4.jpg?1681911001649" alt="">
        </div>
        <div><img class="w-[100px] h-[100px]"
                src="https://bizweb.dktcdn.net/100/428/250/themes/822996/assets/partner_5.jpg?1681911001649" alt="">
        </div>
        <div><img class="w-[100px] h-[100px]"
                src="https://bizweb.dktcdn.net/100/428/250/themes/822996/assets/partner_7.jpg?1681911001649" alt="">
        </div>
    </div>
    </main>
    <!--End Main-->

    <!--footer-->
    <footer>
        <div class=" grid grid-cols-4 gap-5 bg-slate-100 px-10 leading-[50px]">
            <div class="">
                <img class="w-[200px]"
                    src="https://bizweb.dktcdn.net/100/428/250/themes/822996/assets/footer-logo.png?1681911001649"
                    alt="">
                <p>Địa chỉ: 20 Nghĩa Đô - Q.Cầu Giấy - TP.Hà Nội</p>
                <p>Email:</p>
                <p>Điện thoại: 0835 588 555</p>
                <p>Zalo: 0835 588 555</p>
            </div>
            <div>
                <p>Sản phẩm</p>
                <p>Trang chủ</p>
                <p>Giới thiệu</p>
                <p>Sản phẩm</p>
                <p>Liên hệ</p>
                <p>Cộng Tác Viên</p>
            </div>
            <div>
                <p>Hỗ trợ khách hàng</p>
                <p>Chính sách thanh toán</p>
                <p>Chính sách vận chuyển </p>
                <p>Chính sách bảo mật</p>
            </div>
            <div>
                <p>Fanpage</p>
                <img src="https://scontent.fhan17-1.fna.fbcdn.net/v/t39.30808-6/340968158_764848581834419_5670796682879734898_n.png?stp=dst-png_s403x403&_nc_cat=100&ccb=1-7&_nc_sid=dd9801&_nc_ohc=DoB29IUrJUgAX8Nk0DL&_nc_ht=scontent.fhan17-1.fna&edm=ADwmN6EEAAAA&oh=00_AfA8KokMm8bRUXMzcd0f9F5ZsMbnYnNZKHaaQwo7uScoYA&oe=64A0917B"
                    alt="">
            </div>
        </div>
        <div class=" bg-red-800 my-10 h-[100px] flex justify-between items-center  ">
            <div>
                <p class="text-white pl-[300px] text-base">Nhận thông tin khuyến mãi mới nhất từ Thể Thao Store</p>
            </div>
            <div class="pr-[300px]">
                <form class="border rounded-md" action="">
                    <input class="text-xl pl-5 h-[50px] max-w-[300px]" type="text" placeholder="Địa Chỉ Email">
                    <button class="text-white ">Đăng ký</button>
                </form>
            </div>
        </div>


    </footer>
    <div class="fixed top-0 left-0 bottom-0 right-0 justify-end hidden gio-hang">
        <div class="flex justify-between w-1/4 h-full px-4 uppercase pt-5 bg-slate-100 ">
            <ul class="text-black h-[50px]">
                <p class="uppercase text-2xl">Giỏ Hàng</p>
                <!-- <div class="mt-10 gap-0">
                    
                        <input class="border h-[60px] w-[400px] pl-5 text-xl" type="text" name="" id="">
                        <button class="bg-red-700 hover:bg-red-600 h-[60px] w-[80px]" type="submit "><i class="fa-solid fa-magnifying-glass fa-2xl " ></i></button>
                </div> -->
            </ul>
            <div class="">
                <button onclick="closegioHang() ">
                    <i class="fa-solid fa-xmark fa-2xl" style="color: #27282b;"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="fixed top-0 left-0 bottom-0 right-0 justify-end hidden tim-kiem">
        <div class="flex justify-between w-1/4 h-full px-4 uppercase pt-5 bg-slate-100">
            <ul class="text-black h-[50px]">
                <p class="uppercase text-[15px]">Tìm kiếm sản phẩm</p>
                <div class="mt-10 gap-0 flex items-center">
                    <input class="border h-[36px] w-[250px] pl-2 text-[13px]" placeholder="Search..." type="text" name="results"
                        id="searchInput">
                    <button class="bg-red-700 hover:bg-red-600 h-[36px] w-[36px] flex items-center justify-center"
                        type="submit">
                        <i class="fa-solid fa-magnifying-glass text-white"></i>
                    </button>
                </div>
                <div class="flex">
                    <div class="flex items-center space-x-4 mt-4 px-4">
                        <img class="w-[70px] h-[70px] rounded" src="./image/z4535010599483_1e7cd11756e512e4ac96dae048c2c3c9.jpg"
                            alt="Product Image">
                        <div>
                            <a href="" class="text-black font-medium">Bộ quần áo thể thao nam</a>
                            <p class="text-red-700 font-bold">560.000 đ</p>
                        </div>
                    </div>
                </div>
            </ul>
            <div class="">
                <button onclick="closeTimkiem()" class="flex items-center justify-center h-[36px] w-[36px]">
                    <i class="fa-solid fa-xmark fa-2xl" style="color: #27282b;"></i>
                </button>
            </div>
        </div>
    </div>    
    <div class="fixed top-0 left-0 bottom-0 right-0 justify-start hidden nav-bar">
        <div class="flex justify-between w-1/4 h-full px-4 uppercase pt-5 bg-black ">
            <ul class="text-white h-[50px]">
                <li
                    class="cursor-pointer h-[60px] text-2xl  relative after:absolute after:bottom-0 after:left-0
                after:bg-white after:h-0.5 after:w-0 hover:after:w-full after:transition-all after:ease-in-out after:duration-300">
                    <a class="text-red-800 border-b-1" href="trangchu.html">TRANG CHỦ</a>
                </li>
                <li
                    class="cursor-pointer h-[60px] text-2xl  relative after:absolute after:bottom-0 after:left-0
                after:bg-white after:h-0.5 after:w-0 hover:after:w-full after:transition-all after:ease-in-out after:duration-300">
                    <a class="hover:text-red-800" href="">GIỚI THIỆU</a>
                </li>
                <li
                    class="cursor-pointer h-[60px] text-2xl  relative after:absolute after:bottom-0 after:left-0
                after:bg-white after:h-0.5 after:w-0 hover:after:w-full after:transition-all after:ease-in-out after:duration-300">
                    <a class="hover:text-red-800" href="">SẢN PHẨM</a>
                </li>
                <li
                    class="cursor-pointer h-[60px] text-2xl  relative after:absolute after:bottom-0 after:left-0
                after:bg-white after:h-0.5 after:w-0 hover:after:w-full after:transition-all after:ease-in-out after:duration-300">
                    <a class="hover:text-red-800" href="">LIÊN HỆ</a>
                </li>
                <li
                    class="cursor-pointer h-[60px] text-2xl  relative after:absolute after:bottom-0 after:left-0
                after:bg-white after:h-0.5 after:w-0 hover:after:w-full after:transition-all after:ease-in-out after:duration-300">
                    <a class="hover:text-red-800" href="">CỘNG TÁC VIÊN</a>
                </li>
                <li
                    class="cursor-pointer h-[60px] text-2xl  relative after:absolute after:bottom-0 after:left-0
                after:bg-white after:h-0.5 after:w-0 hover:after:w-full after:transition-all after:ease-in-out after:duration-300">
                    <a class="hover:text-red-800" href="dangky.html">ĐĂNG NHẬP/ĐĂNG KÝ</a>
                </li>
            </ul>
            <div class="">
                <button onclick="closeMenu()">
                    <i class="fa-solid fa-xmark fa-2xl " style="color: #ecf3fd;"></i>
                </button>
            </div>
        </div>
    </div>




    <!--End footer-->
    </div>

    <script>
        const menuhidden = document.querySelector('.gio-hang');
        const menuhidden2 = document.querySelector('.tim-kiem');
        const menuhidden1 = document.querySelector('.nav-bar');

        const opengioHang = () => {
            menuhidden.classList.remove('hidden');
            menuhidden.classList.add('flex');
        };
        const closegioHang = () => {
            menuhidden.classList.remove('flex');
            menuhidden.classList.add('hidden');
        };

        const openMenu = () => {
            menuhidden1.classList.remove('hidden');
            menuhidden1.classList.add('flex');
        };
        const closeMenu = () => {
            menuhidden1.classList.remove('flex');
            menuhidden1.classList.add('hidden');
        };

        const openTimkiem = () => {
            menuhidden2.classList.remove('hidden');
            menuhidden2.classList.add('flex');
        };
        const closeTimkiem = () => {
            menuhidden2.classList.remove('flex');
            menuhidden2.classList.add('hidden');
        };
    </script>

    <script>
        // JavaScript code to continuously change the placeholder text with slower effect
        document.addEventListener('DOMContentLoaded', function () {
            const inputElement = document.getElementById('searchInput');

            const placeholderTexts = [
                "Nhập tên sản phẩm ...",
                "Áo khoác ",
                "Áo thun",
                "Quần ",
                "Bộ đồ nam"
            ];

            let currentPlaceholderIndex = 0;
            let currentPlaceholderChar = 0;
            let isRetracting = false;

            function animatePlaceholder() {
                const targetPlaceholder = placeholderTexts[currentPlaceholderIndex];

                if (!isRetracting && currentPlaceholderChar < targetPlaceholder.length) {
                    inputElement.placeholder = targetPlaceholder.slice(0, currentPlaceholderChar + 1);
                    currentPlaceholderChar++;
                } else if (isRetracting && currentPlaceholderChar > 0) {
                    inputElement.placeholder = targetPlaceholder.slice(0, currentPlaceholderChar);
                    currentPlaceholderChar--;
                } else {
                    isRetracting = !isRetracting;
                    if (!isRetracting) {
                        currentPlaceholderIndex = (currentPlaceholderIndex + 1) % placeholderTexts.length;
                    }
                }
                const delay = isRetracting ? 50 : 80; // Adjust the delay here (500ms for appearance, 1500ms for retraction)
                setTimeout(animatePlaceholder, delay);
            }

            // Call animatePlaceholder function initially
            animatePlaceholder();
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.2/dist/js/splide.min.js"></script>
    <script>
        var splide = new Splide('.splide', {
            type: 'loop',
            speed: 1000,
            autoplay: true,
        });

        splide.mount();
    </script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script>
        var swiper = new Swiper(".card-slider", {

            slidesPerView: 4,
            speed: 1000,
            spaceBetween: 30,
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });
    </script>
</body>

</html>