<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>đăng ký</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.2/dist/css/splide.min.css">
    
    <script src="https://kit.fontawesome.com/7af42783d2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="giaodiennguoidung/asset/style.css">
        <style>
           
        </style>
</head>

<body>
    <div class="container w-[1280px] m-auto">
        <!--header-->
        <div class="header">
            <div class="flex justify-between mt-5 items-center">
                <div class="evo-header-flex-item header-fill">
                    <div class="" onclick="openMenu()">
                        <img class="hover:bg-slate-950 hover:bg-opacity-20 " src="./giaodiennguoidung/image/Vector.png" alt="">
                    </div>
                </div>
                <div class="evo-header-flex-item header-logo">
                    <a href="/" class="logo-wrapper" title="thethaostore.vn">
                        <img src="https://bizweb.dktcdn.net/100/428/250/themes/822996/assets/logo.png?1681911001649"
                            alt="">
                    </a>
                </div>
                <div class=" flex ">
                    <div class="" onclick="openTimkiem()">
                        <i class="fa-solid fa-magnifying-glass fa-2xl mr-5"></i>
                    </div>

                    <div onclick="opengioHang()">
                        <i class="fa-solid fa-bag-shopping fa-2xl"></i>
                    </div>
                </div>
            </div>
            
        </div>       
        </div>

        <ul class="w-full bg-gray-100 rounded-xl py-4 ">
            <li class="font-semibold text-stone-500 indent-80">
                <a href="trangchu.html">Trang chủ / </a>
                <a href="">Đăng Nhập tài khoản </a>
            </li>
        </ul> 
        
        <div class="min-h-screen py-16" style="background-image: linear-gradient(115deg, #ffffff00, #ffffff)">
          <!-- login container -->
          <div class="container mx-auto">
             <!-- form -->
            <div class="flex flex-col lg:flex-row w-10/12 lg:w-8/12 bg-white mx-auto shadow-lg overflow-hidden">
              <!-- image -->
              <div class="w-full lg:w-1/2 flex flex-col items-center justify-center p-12 bg-no-repeat bg-cover bg-center rounded-2xl" style="background-image: url('image/anh2.jpg');">
                <img src="images/z4535010599483_1e7cd11756e512e4ac96dae048c2c3c9.jpg" alt="">
                
                <div class="bg-gray-100 ">
                    <p class="text-blue text-[16px] leading-[22px] mb-3 font-[500] cl1">QUYỀN LỢI THÀNH VIÊN</p>
                    <p class="text-blue text-sm pt-5">-Mua hàng khắp thế giới cực dễ dàng, nhanh chóng</p>
                    <p class="text-blue text-sm pt-5">-Theo dõi chi tiết đơn hàng, địa chỉ thanh toán dễ dàng</p>
                    <p class="text-blue text-sm pt-5">-Nhận nhiều chương trình ưu đãi hấp dẫn từ chúng tôi !</p>
                </div>
              </div>
              <div class="w-full lg:w-1/2 py-16 px-12">
                <div class="flex justify-around pb-3 cursor-pointer border-b-2  ">
                <h2  class="font-bold text-lg text-[#002D74] border-b-2 border-[#F10000]">Đăng Nhập</h2>
                <a href="dangky.html"class="hover:text-red-500 ">Đăng ký</a>
            </div>
               
                <form action="#">
                
                 
                  <div class="mt-8">
                    <p>  Email <span class="text-red-500">*</span> </p>
                    <input type="email" placeholder="Nhập Email" name="email" class="border border-gray-400 py-1 px-2  rounded-md h-[40px] w-full">
                  </div>
                  <div class="mt-8">
                    <p>Mật khẩu<span class="text-red-500">*</span> </p>
                    <input type="password" placeholder="Mật khẩu" name="password" class="border border-gray-400 py-1 px-2  rounded-md h-[40px] w-full">
                  </div>
                 <a href="" class="float-right text-red-500 my-5">Quên mật khẩu?</a>
                  
                  <div class="mt-5">
                    <button class="w-full bg-red-600  rounded-md h-[40px] text-white py-2 hover:scale-105 duration-100" >Đăng nhập</button>
                  </div>
                  <p class="text-xs mt-3">Chúng tôi Cam kết bảo mật và sẽ không bao giờ đăng
                    hay chia sẻ thông tin mà chưa có được sự đồng ý của bạn.</p>
                </form>
              </div>
            </div>
          </div>
        </div>
        

    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script>
         var swiper = new Swiper(".card-slider", {
            
      slidesPerView: 4,
      speed:1000,
      spaceBetween: 30,
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });
    </script>
            <!-- END TOP SẢN PHẨM CHẠY-->
            <!--Thương hiệu nổi bật-->
            <div class="text-center">
                <p class="text-2xl underline  mt-10"><b>THƯƠNG HIỆU NỔI BẬT</p>
            </div>
            <div class="flex   justify-around">
                <div><img class="w-[100px] h-[100px]"
                        src="https://bizweb.dktcdn.net/100/428/250/themes/822996/assets/partner_1.jpg?1681911001649"
                        alt=""></div>
                <div><img class="w-[100px] h-[100px]"
                        src="https://bizweb.dktcdn.net/100/428/250/themes/822996/assets/partner_2.jpg?1681911001649"
                        alt=""></div>
                <div><img class="w-[100px] h-[100px]"
                        src="https://bizweb.dktcdn.net/100/428/250/themes/822996/assets/partner_4.jpg?1681911001649"
                        alt=""></div>
                <div><img class="w-[100px] h-[100px]"
                        src="https://bizweb.dktcdn.net/100/428/250/themes/822996/assets/partner_5.jpg?1681911001649"
                        alt=""></div>
                <div><img class="w-[100px] h-[100px]"
                        src="https://bizweb.dktcdn.net/100/428/250/themes/822996/assets/partner_7.jpg?1681911001649"
                        alt=""></div>
            </div>
        </main>
        <!--End Main-->

        <!--footer-->
        <footer >
            <div class=" grid grid-cols-4 gap-5 bg-slate-100 px-10 leading-[50px]">
                <div class="">
                    <img class="w-[200px]"
                        src="https://bizweb.dktcdn.net/100/428/250/themes/822996/assets/footer-logo.png?1681911001649"
                        alt="">
                    <p>Địa chỉ: 20 Nghĩa Đô - Q.Cầu Giấy - TP.Hà Nội</p>
                    <p>Email:</p>
                    <p>Điện thoại: 0835 588 555</p>
                    <p>Zalo: 0835 588 555</p>
                </div>
                <div>
                    <p>Sản phẩm</p>
                    <p>Trang chủ</p>
                    <p>Giới thiệu</p>
                    <p>Sản phẩm</p>
                    <p>Liên hệ</p>
                    <p>Cộng Tác Viên</p>
                </div>
                <div>
                    <p>Hỗ trợ khách hàng</p>
                    <p>Chính sách thanh toán</p>
                    <p>Chính sách vận chuyển </p>
                    <p>Chính sách bảo mật</p>
                </div>
                <div>
                    <p>Fanpage</p>
                    <img src="https://scontent.fhan17-1.fna.fbcdn.net/v/t39.30808-6/340968158_764848581834419_5670796682879734898_n.png?stp=dst-png_s403x403&_nc_cat=100&ccb=1-7&_nc_sid=dd9801&_nc_ohc=DoB29IUrJUgAX8Nk0DL&_nc_ht=scontent.fhan17-1.fna&edm=ADwmN6EEAAAA&oh=00_AfA8KokMm8bRUXMzcd0f9F5ZsMbnYnNZKHaaQwo7uScoYA&oe=64A0917B"
                        alt="">
                </div>
            </div>
            <div class=" bg-red-800 my-10 h-[100px] flex justify-between items-center  ">
                <div>
                    <p class="text-white pl-[300px] text-base">Nhận thông tin khuyến mãi mới nhất từ Thể Thao Store</p>
                </div>
                <div class="pr-[300px]">
                    <form class="border rounded-md" action="">
                        <input class="text-xl pl-5 h-[50px] max-w-[300px]" type="text" placeholder="Địa Chỉ Email">
                        <button class="text-white w-[115px]">Đăng ký</button>
                    </form>
                </div>
            </div>


        </footer>
        <div class="fixed top-0 left-0 bottom-0 right-0 justify-end hidden gio-hang">
            <div class="flex justify-between w-1/4 h-full px-4 uppercase pt-5 bg-slate-100 ">
                <ul class="text-black h-[50px]">
                    <p class="uppercase text-2xl">Giỏ Hàng</p>
                    <!-- <div class="mt-10 gap-0">
                    
                        <input class="border h-[60px] w-[400px] pl-5 text-xl" type="text" name="" id="">
                        <button class="bg-red-700 hover:bg-red-600 h-[60px] w-[80px]" type="submit "><i class="fa-solid fa-magnifying-glass fa-2xl " ></i></button>
                </div> -->
                </ul>
                <div class="">
                    <button onclick="closegioHang() ">
                        <i class="fa-solid fa-xmark fa-2xl" style="color: #27282b;"></i>
                    </button>
                </div>
            </div>
        </div>
        </script>
        <div class="fixed top-0 left-0 bottom-0 right-0 justify-end hidden tim-kiem">
            <div class="flex justify-between w-1/4 h-full px-4 uppercase pt-5 bg-slate-100 ">
                <ul class="text-black h-[50px]">
                    <p class="uppercase text-2xl">Tìm kiếm sản phẩm</p>
                    <div class="mt-10 gap-0">

                        <input class="border h-[60px] w-[400px] pl-5 text-xl" type="text" name="" id="">
                        <button class="bg-red-700 hover:bg-red-600 h-[60px] w-[80px]" type="submit "><i
                                class="fa-solid fa-magnifying-glass fa-2xl "></i></button>
                    </div>
                </ul>
                <a href="" onclick="return confirm()"></a>
                <div class="">
                    <button onclick="closeTimkiem() ">
                        <i class="fa-solid fa-xmark fa-2xl" style="color: #27282b;"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="fixed top-0 left-0 bottom-0 right-0 justify-start hidden nav-bar">
            <div class="flex justify-between w-1/4 h-full px-4 uppercase pt-5 bg-black ">
                <ul class="text-white h-[50px]">
                    <li
                        class="cursor-pointer h-[60px] text-2xl  relative after:absolute after:bottom-0 after:left-0
                after:bg-white after:h-0.5 after:w-0 hover:after:w-full after:transition-all after:ease-in-out after:duration-300">
                        <a class="text-red-800 border-b-1" href="trangchu.html">TRANG CHỦ</a>
                    </li>
                    <li
                        class="cursor-pointer h-[60px] text-2xl  relative after:absolute after:bottom-0 after:left-0
                after:bg-white after:h-0.5 after:w-0 hover:after:w-full after:transition-all after:ease-in-out after:duration-300">
                        <a class="hover:text-red-800" href="gioithieu.html">GIỚI THIỆU</a>
                    </li>
                    <li
                        class="cursor-pointer h-[60px] text-2xl  relative after:absolute after:bottom-0 after:left-0
                after:bg-white after:h-0.5 after:w-0 hover:after:w-full after:transition-all after:ease-in-out after:duration-300">
                        <a class="hover:text-red-800" href="">SẢN PHẨM</a>
                    </li>
                    <li
                        class="cursor-pointer h-[60px] text-2xl  relative after:absolute after:bottom-0 after:left-0
                after:bg-white after:h-0.5 after:w-0 hover:after:w-full after:transition-all after:ease-in-out after:duration-300">
                        <a class="hover:text-red-800" href="">LIÊN HỆ</a>
                    </li>
                    <li
                        class="cursor-pointer h-[60px] text-2xl  relative after:absolute after:bottom-0 after:left-0
                after:bg-white after:h-0.5 after:w-0 hover:after:w-full after:transition-all after:ease-in-out after:duration-300">
                        <a class="hover:text-red-800" href="">CỘNG TÁC VIÊN</a>
                    </li>
                    <li
                        class="cursor-pointer h-[60px] text-2xl  relative after:absolute after:bottom-0 after:left-0
                after:bg-white after:h-0.5 after:w-0 hover:after:w-full after:transition-all after:ease-in-out after:duration-300">
                        <a class="hover:text-red-800" href="dangnhap.html">ĐĂNG NHẬP</a>
                    </li>
                    <li
                    class="cursor-pointer h-[60px] text-2xl  relative after:absolute after:bottom-0 after:left-0
            after:bg-white after:h-0.5 after:w-0 hover:after:w-full after:transition-all after:ease-in-out after:duration-300">
                    <a class="hover:text-red-800" href="dangky.html">ĐĂNG KÝ</a>
                </li>
                </ul>
                <div class="">
                    <button onclick="closeMenu()">
                        <i class="fa-solid fa-xmark text-[20px]" style="color: #ecf3fd;" id="animated-icon"></i>
                    </button>
                </div>
            </div>
        </div>




        <!--End footer-->
    </div>

    <script>
        const menuhidden = document.querySelector('.gio-hang');
        const menuhidden2 = document.querySelector('.tim-kiem');
        const menuhidden1 = document.querySelector('.nav-bar');

        const opengioHang = () => {
            menuhidden.classList.remove('hidden');
            menuhidden.classList.add('flex');
        };
        const closegioHang = () => {
            menuhidden.classList.remove('flex');
            menuhidden.classList.add('hidden');
        };

        const openMenu = () => {
            menuhidden1.classList.remove('hidden');
            menuhidden1.classList.add('flex');
        };
        const closeMenu = () => {
            menuhidden1.classList.remove('flex');
            menuhidden1.classList.add('hidden');
        };

        const openTimkiem = () => {
            menuhidden2.classList.remove('hidden');
            menuhidden2.classList.add('flex');
        };
        const closeTimkiem = () => {
            menuhidden2.classList.remove('flex');
            menuhidden2.classList.add('hidden');
        };
    </script>
</body>

</html>